$bedugreen: #2bb673;

#header {
  background-color: black;
  img {
    width: 80px;
  }
  li {
    font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
    a {
      &:hover {
        color: $bedugreen;
      }
    }
  }
}

#main {
  .carousel-inner {
    img {
      max-height: 80vh;
      object-fit: cover;
      filter: grayscale(80%);
    }
  }
}
.carousel-caption {
  right: 20%;
  left: 20%;
  padding-bottom: 20%;
}
.dark:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
}
