$bedugreen: #2bb673;

#header {
  background-color: black;
  img {
    width: 80px;
  }
  li {
    font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
    a {
      &:hover {
        color: $bedugreen;
      }
    }
  }
}
